[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
supabase = "*"
pydantic-settings = "*"
aiogram = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"
pydocstyle = "*"

[requires]
python_version = "3.12"
