[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
supabase = "*"
pydantic-settings = "*"
aiogram = "*"
apscheduler = "*"
pytz = "*"
build = "*"
setuptools = "*"
doit = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"
pydocstyle = "*"
sphinx = "*"
furo = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
